*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.theme-dark{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    background: linear-gradient(107.99deg, #243B55 0%, #141E30 49.04%, #243B55 96.55%);
}

.theme-light{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    background: linear-gradient(107.56deg, #F1F1F1 0%, #E5E5E5 50%, #F1F1F1 98.44%);
}
header{
    width: 100vw;
    padding: 30px 5vw 30px 10vw;
    display: flex;
}
button{
    border: 0;
}

.icon{
    display: flex;
    width: 50px;
    height: 50px;
    background: #FFFFFF;
    mix-blend-mode: overlay;
    border-radius: 50px;
}
.logo{
    padding:.5rem;
}
.menu{
    & a,button{
        margin: 0 10px;
    }
    width: 100%;
    margin-left: auto;
    display: flex;
    & .search{
        margin-right: auto;
        margin-left: 50px;
        display: flex;
        align-items: flex-start;
        & input{
            padding:1rem 2rem;
            border-radius: 50px;
            background: #FFFFFF;
            mix-blend-mode: overlay;
            border: 0;
            width: 50vw;
        }
    }
    & .menu-list{
        display: flex;
    }
}

.sidebar{
    position: absolute;
    left: 0;
    top: 0;
    padding:30px;
    & a{
        margin: 30px 0;
    }
}

.main{
    width: 100vw;
    padding: 30px 5vw 30px 10vw;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    & .banner{
        height: 20vh;
        width: 100%;
        mix-blend-mode: overlay;
        background: white;
        border-radius: 50px;
        margin-bottom: 30px;
    }
    & .profile{
        display: flex;
        width: 100%;
        margin-bottom: 30px;
        & .avatar{
            width: 50px;
            height: 50px;
            mix-blend-mode: overlay;
            background: white;
            border-radius: 50px;
            margin-right: 10px;
        }
        & .name{
            width: 300px;
            height: 50px;
            mix-blend-mode: overlay;
            background: white;
            border-radius: 50px;
        }
        & .btn-act{
            margin-left: auto;
            width: 50%;
            display: flex;
            & a {
                margin-left: auto;
                width: 150px;
                height: 50px;
                mix-blend-mode: overlay;
                background: white;
                border-radius: 50px;
            }
        }
    }
    & .menu{
        display: flex;
        margin-bottom: 30px;
        & a{
            width: 100px;
            height: 30px;
            mix-blend-mode: overlay;
            background: white;
            border-radius: 50px;
        }
    }
    & .title-video{
        margin-bottom: 30px;
        width: 150px;
        height: 50px;
        mix-blend-mode: overlay;
        background: white;
        border-radius: 50px;
    }
    & .list-video{
        display: flex;
        width: 100%;
        margin-bottom: 30px;

        & a{
            width: 24%;
            margin: 0 .5%;
            height: 200px;
            mix-blend-mode: overlay;
            background: white;
            border-radius: 50px;
        }
    }
    
}